<div class="uk-modal-dialog">
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">About</h2>
  </div>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">Portfolio "TraJapa"</h2>
  </div>
  <div class="uk-modal-body" uk-overflow-auto>
   <h4>About this portfolio</h4>
   <p>Hello there !! This application is TraJapa, my first portfolio.
This app aims to be a platform for inbound tourists from another country to Japan. This app is an ongoing project. At now, this app has some function to make inbound tourists comfort. <br>
Forum  You can ask any question or discussion to real travellers or locals. This forum is for asks about anything you want to know before or after arriving in Japan. Now you can choose four topics. Travel, Tips, Spot or Trouble.<br>
SNS like twitter  You can publish and share your experience in Japan with GPS data and pictures. Also, you can post comments and leave "likes" to your favourite posts. And more you can do follow/follower function.<br>

Background
This app aims to inbound travellers who have any clear goals. I like to travel to foreign countries. Through this experience, stay in another country, especially totally different language and culture make an uncomfortable situation sometimes. Hard to find information, incorrect content in expensive guidebooks or old texts like a grandfather t-shirt.....etc.<br>
I strongly want to avoid losing every chance. Museum working hours, the bad weather on the mountains, routes, costs, and of course safety information. This is the reason why I created this app. Real and responsive communication is key to make plans and find solutions.
I hope, my app will help all travellers.</p>
 </div>
</div>
