    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Headline</h2>
        </div>
  	<div class="uk-modal-header">
    <h2 class="uk-modal-title">Portfolio "TraJapa"</h2>
    </div>
    <div class="uk-modal-body" uk-overflow-auto>
    	<h4>About this portfolio</h4>
    </div>
      </div>
