<div class="uk-container  uk-margin-medium">
	<div class="uk-grid">
		<div class="uk-width-1-1 uk-width-1-3@m">
			<%= render 'users/profile', user: @user %>
		</div>
		<div class="uk-width-1-1 uk-width-2-3@m uk-margin-medium uk-align-center">
				<%= render 'posts/post_new_edit', post: @post_new %>
		</div>
	</div>
</div>

